@import "tailwindcss";


:root {
  --primary-color: #4a6fa5;
  --secondary-color: #166088;
  --accent-color: #4caf50;
  --background-color: #f5f7fa;
  --text-color: #333;
  --border-radius: 10px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@layer base {
  html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}
